.craters-container {
    max-width: 700px !important;
    align-items: center;
    text-align: start;
    margin: auto;
    margin-top: 2rem;
}
.list{
    margin: 1rem;
}
.withoutCrater {
    padding: 5px;
    background-color: transparent;
    border-right: 5px solid #ffc107;
}

.withCrater {
    padding: 5px;
    background-color: transparent;
    /* border-right: 1px solid white; */
}

.icons {
    color: red;
}